<!doctype html>
<html>
<head>
  <title>Weblog</title>
  <script>
  function clearLog() {
    var req = new XMLHttpRequest();
    req.open("DELETE", "http://173.255.221.39:8002");
    req.send();
    location.reload();
  }
</script>
</head>
<body>

<h1>Weblog</h1>
<button onclick="clearLog()">Clear</button>
<table style="width:100%">
  <tr>
    <th align="left" width="200px">Date</th>
    <th align="left">Message</th> 
  </tr>
  {{range .Logs}}
  <tr>
    <td>{{.Date.Format "2006 Jan 02 15:04:05"}}</td>
    <td>{{.Message}}</td>
  </tr>
  {{end}}
  {{if not .Logs}}
  <tr>
    <td>-</td>
    <td>-</td>
  </tr>
  {{end}}
</table>
</body>
</html>
